<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="   
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- in-memory database and a datasource -->
    <!-- 配置文件导入 -->
    <context:property-placeholder location="config.properties"
        ignore-unresolvable="true" />
    <!-- 注册自定义属性编辑器 <bean id="customEditorConfigure" class="org.springframework.beans.factory.config.CustomEditorConfigurer"> 
        <property name="customEditors"> <map> <entry key="java.util.Map"> <bean class="cn.com.talkweb.classify.spring.MapEditor"> 
        </bean> </entry> </map> </property> </bean> -->

    <!-- 数据库数据源 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> <property name="driverClassName" 
        value="${jdbc.driver}" /> <property name="url" value="${jdbc.url}"/> <property name="username" value="${jdbc.username}" 
        /> <property name="password" value="${jdbc.password}" /> <property name="maxIdle" value="20" /> <property 
        name="maxActive" value="50" /> <property name="maxWait" value="3000" /> <property name="minIdle" value="10" 
        /> <property name="removeAbandoned" value="true"/> <property name="removeAbandonedTimeout" value="60"/> 
        </bean> -->

    <!-- transaction manager, use JtaTransactionManager for global tx <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource" ref="dataSource" /> </bean> -->

    <!-- 爬取规则。对应 org.tomstools.crawler.config.CrawlingRule -->
    <bean id="crawlingRule" class="org.tomstools.crawler.config.CrawlingRule" scope="prototype">
        <property name="batchIntervalInit" value="500"></property>
        <property name="batchIntervalFinal" value="300"></property>
        <property name="batchIntervalStep" value="50"></property>
        <property name="batchSizeInit" value="5"></property>
        <property name="batchSizeFinal" value="2"></property>
        <property name="batchSizeStep" value="1"></property>
        <property name="connectionTimeOut" value="20000"></property>
        <property name="socketTimeOut" value="30000"></property>
    </bean>

    <!-- 文档解析器：HTML。对应 org.tomstools.crawler.parser.Parser -->
    <bean id="htmlParser" class="org.tomstools.crawler.parser.HTMLParser" scope="prototype">
    </bean>

    <import resource="sample.xml"/>
    <import resource="landchina-gonggaojieguo-hunan-xycr.xml"/>
    <import resource="landchina-gonggaojieguo-hunan-zpgcr.xml"/>
    <!-- 结果数据操作对象：文件方式。对应 org.tomstools.crawler.dao.ResultDAO -->
    <bean id="fileResultDAO" class="org.tomstools.crawler.dao.FileResultDAO" scope="prototype">
        <!-- 构造函数参数 1: 文件保存的根目录 -->
        <constructor-arg index="0" type="java.lang.String" value="${file.result.dir}"></constructor-arg>
        <!-- 构造函数参数 2: 结果数据保存时各字段之间的分隔符 -->
        <constructor-arg index="1" type="java.lang.String">
            <value>,</value>

        </constructor-arg>
        <!-- 构造函数参数3: 需要剔除的特殊字符 -->
        <constructor-arg index="2">
            <array>
                <value>&#10;</value>
                <value>&#13;</value>
                <value>\[</value>
                <value>\]</value>
            </array>
        </constructor-arg>
    </bean>

    <!-- 定向爬取。对应 org.tomstools.crawler.TargetCrawler -->
    <bean id="targetCrawler" class="org.tomstools.crawler.TargetCrawler" scope="prototype">
        <!-- 构造函数参数 1: 定向爬取目标列表 List<org.tomstools.crawler.config.Target> -->
        <constructor-arg index="0">
            <list>
                <!-- <ref bean="target-0731fdc-floor-cs" />
                <ref bean="target-0731fdc-floor-cs-detail"/>
                <ref bean="target-0731fdc-floor-zz" />
                <ref bean="target-0731fdc-floor-xt" />
                <ref bean="target-lecai-shuangseqiu" />
                <ref bean="target-landchina-gonggaojieguo-hunan-xycr" />
                <ref bean="target-landchina-gonggaojieguo-hunan-zpgcr" />
                -->
                <ref bean="target-landchina-gonggaojieguo-hunan-xycr" />
                <ref bean="target-landchina-gonggaojieguo-hunan-zpgcr" />
            </list>
        </constructor-arg>
        <!-- 构造函数参数 2: 结果数据操作对象。对应 接口 org.tomstools.crawler.dao.ResultDAO -->
        <constructor-arg index="1" ref="fileResultDAO"></constructor-arg>
    </bean>

</beans>
