<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TargetCrawler/src/main/java/org/tomstools/crawler/TargetCrawlerAppWithSpring.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="crawl_data_path" value="d:\datas"/>
<mapEntry key="file2db_home" value="D:\File2DB-1.0-SNAPSHOT"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.tomstools.crawler.TargetCrawlerAppWithSpring"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TargetCrawler"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.encoding=utf8 -Dapplication_xml=applicationContext-sample.xml  -Dfile.md5=AFEBCABDBACFEBEBCBDEADBCDEAADBD -Dpublic=75c9e9e5b1c3f7620eb1c7cfede8e731f68fddc378699d6c6fc1b1fcb86945c87aafe17cdf6cb9b3"/>
</launchConfiguration>
