<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tomstools.web.persistence.SiteMapper">
    
    <select id="selectSiteList" resultType="map"><![CDATA[
        SELECT *,CASE LANG_ID WHEN 0 THEN 'ZH' WHEN 1 THEN 'EN' ELSE '' END LANG FROM T_CRAWL_C_SITE WHERE IS_VALID=1
    ]]></select>
    <select id="selectLastStatTime" resultType="date"><![CDATA[
        SELECT UPDATE_TIME FROM T_POM_S_STAT_SITE WHERE TYPE_ID=#{TYPE_ID} ORDER BY STAT_TIME DESC LIMIT 1
    ]]></select>
    <select id="selectSiteTop" resultType="map"><![CDATA[
    	SELECT CASE WHEN cs.SITE_NAME IS NULL THEN '其他' ELSE cs.SITE_NAME END SITE_NAME,sum(SIZE_ZM) + SUM(SIZE_FM) + sum(SIZE_ZM_E) + SUM(SIZE_FM_E) SIZE 
    	FROM T_POM_S_STAT_SITE s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		WHERE ]]><if test="TYPE_ID != null">
		TYPE_ID=#{TYPE_ID} AND 
		</if>
		<![CDATA[STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND (cs.IS_VALID=1)
		GROUP BY SITE_NAME ORDER BY SIZE desc limit #{TOP_NUM}
    ]]></select>
    <select id="selectWordsTop" resultType="map"><![CDATA[
    	SELECT r.TYPE_ID,r.TYPE_NAME,sum(SIZE_ZM) + SUM(SIZE_FM) + sum(SIZE_ZM_E) + SUM(SIZE_FM_E) SIZE 
		FROM T_POM_S_STAT_SITE s LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) 
		WHERE STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND (r.IS_VALID=1)
		GROUP BY r.TYPE_ID,r.TYPE_NAME  ORDER BY SIZE desc limit #{TOP_NUM}
    ]]></select>
    <!-- <select id="selectSiteTop" resultType="map"><![CDATA[
    	SELECT CASE WHEN cs.SITE_NAME IS NULL THEN '其他' ELSE cs.SITE_NAME END SITE_NAME,sum(SIZE_ZM) + SUM(SIZE_FM) + sum(SIZE_ZM_E) + SUM(SIZE_FM_E) SIZE FROM T_POM_S_STAT_SITE s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		WHERE STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND (cs.IS_VALID=1 OR cs.IS_VALID IS NULL)
		GROUP BY SITE_NAME ORDER BY SIZE desc limit #{TOP_NUM}
    ]]></select> -->
    
    <select id="selectHotwordTop" resultType="map"><![CDATA[
    	SELECT WORD,sum(HEAT) HEAT
		FROM T_POM_HOTWORD WHERE
		]]>
		<if test="FLAG != null"> FLAG=#{FLAG} AND </if>
		<![CDATA[
		IS_VALID=1
		GROUP BY WORD ORDER BY HEAT desc limit #{TOP_NUM}
    ]]></select>
    <update id="deleteHot"><![CDATA[
    	UPDATE T_POM_HOTWORD SET IS_VALID=0
		WHERE FLAG=#{FLAG} AND IS_VALID=1
    ]]></update>
    <insert id="saveHot"><![CDATA[
    	INSERT INTO T_POM_HOTWORD (FLAG,WORD,HEAT,IN_TIME) values (#{FLAG},#{WORD},#{HEAT},now())
    ]]></insert>
    <select id="countHot" resultType="int"><![CDATA[
    	SELECT COUNT(1) FROM (
	    	SELECT WORD
			FROM T_POM_HOTWORD
			WHERE FLAG=#{FLAG} AND IN_TIME BETWEEN #{START_TIME} AND #{END_TIME}
			GROUP BY WORD
		) a
    ]]></select>
    <select id="selectHot" resultType="map"><![CDATA[
    	SELECT WORD,sum(HEAT) HEAT
		FROM T_POM_HOTWORD
		WHERE FLAG=#{FLAG} AND IN_TIME BETWEEN #{START_TIME} AND #{END_TIME}
		GROUP BY WORD ORDER BY HEAT desc limit #{START},#{ROWS}
    ]]></select>

    <insert id="saveHotHis"><![CDATA[
    	INSERT INTO T_POM_HOTWORD_HIS (FLAG,WORD,HEAT,IN_TIME,UPDATE_TIME) SELECT FLAG,WORD,HEAT,IN_TIME,now() FROM T_POM_HOTWORD WHERE FLAG=#{FLAG}
    ]]></insert>
        
     <select id="selectMediaCount" resultType="map"><![CDATA[
     	SELECT CASE WHEN st.SITE_TYPE_NAME IS NULL THEN '其他' ELSE st.SITE_TYPE_NAME END SITE_TYPE_NAME,sum(SIZE_ZM) + SUM(SIZE_FM) + sum(SIZE_ZM_E) + SUM(SIZE_FM_E) SIZE 
		FROM T_POM_S_STAT_SITE s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) LEFT JOIN T_CRAWL_M_SITE_TYPE st ON (cs.SITE_TYPE_ID=st.SITE_TYPE_ID)
		WHERE  
		]]><if test="TYPE_ID != null">
		TYPE_ID=#{TYPE_ID} AND 
		</if>
		<![CDATA[STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND (cs.IS_VALID=1 OR cs.IS_VALID IS NULL) AND (st.IS_VALID=1 OR st.IS_VALID IS NULL)
		GROUP BY SITE_TYPE_NAME ORDER BY SIZE desc
    ]]></select>
    
    <select id="selectMedia" resultType="map"><![CDATA[
    	SELECT CASE WHEN st.SITE_TYPE_NAME IS NULL THEN '其他' ELSE st.SITE_TYPE_NAME END SITE_TYPE_NAME,sum(SIZE_ZM) + SUM(SIZE_FM) + sum(SIZE_ZM_E) + SUM(SIZE_FM_E) SIZE,DATE_FORMAT(STAT_TIME,'%Y-%m-%d') dt 
		FROM T_POM_S_STAT_SITE s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) LEFT JOIN T_CRAWL_M_SITE_TYPE st ON (cs.SITE_TYPE_ID=st.SITE_TYPE_ID)
		WHERE 
		]]><if test="TYPE_ID != null">
		TYPE_ID=#{TYPE_ID} AND 
		</if>
		<![CDATA[ STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND (cs.IS_VALID=1 OR cs.IS_VALID IS NULL) AND (st.IS_VALID=1 OR st.IS_VALID IS NULL)
		GROUP BY SITE_TYPE_NAME,dt ORDER BY dt desc
    ]]></select>
    
    <select id="statWordsCountQuery" resultType="map"><![CDATA[
        SELECT TYPE_ID,TYPE_NAME,SUM(FM) SIZE_FM,SUM(FM_E) SIZE_FM_E,SUM(ZM) SIZE_ZM,SUM(ZM_E) SIZE_ZM_E
		FROM (
		SELECT s.TYPE_ID,r.TYPE_NAME,s.CRAWL_TIME,
		CASE s.TEMPLATE_TYPE WHEN 'ZM' THEN 1 ELSE 0 END ZM,
		CASE s.TEMPLATE_TYPE WHEN 'ZM_E' THEN 1 ELSE 0 END ZM_E,
		CASE s.TEMPLATE_TYPE WHEN 'FM' THEN 1 ELSE 0 END FM,
		CASE s.TEMPLATE_TYPE WHEN 'FM_E' THEN 1 ELSE 0 END FM_E
		FROM T_POM_R_DETAIL s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID)  WHERE 
        ]]><if test="COUNTRY_CODE != null">
        	cs.COUNTRY_CODE=#{COUNTRY_CODE} AND
        </if><if test="LANG_ID != null">
        	cs.LANG_ID=#{LANG_ID} AND
        </if><if test="SITE_ID != null">
        	cs.SITE_ID=#{SITE_ID} AND
        </if><if test="SITE_TYPE_ID != null">
        	cs.SITE_TYPE_ID=#{SITE_TYPE_ID} AND
        </if><![CDATA[
		PUBLISH_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND r.IS_VALID=1
		) a GROUP BY TYPE_ID,TYPE_NAME ORDER BY SIZE_FM desc,SIZE_FM_E desc,SIZE_ZM desc,SIZE_ZM_E desc
    ]]></select>
    <select id="statWordsCountQuery_BAK" resultType="map"><![CDATA[
        SELECT r.TYPE_ID,r.TYPE_NAME,sum(SIZE_ZM) SIZE_ZM,SUM(SIZE_FM) SIZE_FM,sum(SIZE_ZM_E) SIZE_ZM_E,SUM(SIZE_FM_E) SIZE_FM_E 
		FROM T_POM_S_STAT_SITE s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID)  WHERE 
        ]]><if test="COUNTRY_CODE != null">
        	cs.COUNTRY_CODE=#{COUNTRY_CODE} AND
        </if><if test="LANG_ID != null">
        	cs.LANG_ID=#{LANG_ID} AND
        </if><if test="SITE_ID != null">
        	cs.SITE_ID=#{SITE_ID} AND
        </if><if test="SITE_TYPE_ID != null">
        	cs.SITE_TYPE_ID=#{SITE_TYPE_ID} AND
        </if><![CDATA[
		STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME}
		GROUP BY r.TYPE_ID ORDER BY SIZE_FM desc,SIZE_FM_E desc,SIZE_ZM desc,SIZE_ZM_E desc
    ]]></select>
    <select id="statWordsQueryDetail" resultType="map"><![CDATA[
        SELECT s.DETAIL_SEQ,s.TEMPLATE_TYPE,s.TYPE_ID,r.TYPE_NAME,s.SITE_ID,cs.SITE_NAME,s.TITLE,s.URL,s.SOURCE,s.AUTHOR,s.EDITOR,DATE_FORMAT(s.PUBLISH_TIME,'%Y-%m-%d') PUBLISH_TIME,DATE_FORMAT(s.CRAWL_TIME,'%Y-%m-%d') CRAWL_TIME,DATE_FORMAT(s.IN_TIME,'%Y-%m-%d') IN_TIME
		FROM T_POM_R_DETAIL s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) WHERE
        ]]><if test="COUNTRY_CODE != null">
        	cs.COUNTRY_CODE=#{COUNTRY_CODE} AND
        </if><if test="LANG_ID != null">
        	cs.LANG_ID=#{LANG_ID} AND
        </if><if test="SITE_ID != null">
        	cs.SITE_ID=#{SITE_ID} AND
        </if><if test="SITE_TYPE_ID != null">
        	cs.SITE_TYPE_ID=#{SITE_TYPE_ID} AND
        </if><if test="TYPE_ID != null">
        	s.TYPE_ID=#{TYPE_ID} AND
        </if><![CDATA[
		PUBLISH_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND r.IS_VALID=1
		ORDER BY PUBLISH_TIME DESC, CRAWL_TIME DESC  LIMIT #{START},#{ROWS}
    ]]></select>
    <select id="countWordsQueryDetail" resultType="int"><![CDATA[
        SELECT count(*)
		FROM T_POM_R_DETAIL s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) WHERE
        ]]><if test="COUNTRY_CODE != null">
        	cs.COUNTRY_CODE=#{COUNTRY_CODE} AND
        </if><if test="LANG_ID != null">
        	cs.LANG_ID=#{LANG_ID} AND
        </if><if test="SITE_ID != null">
        	cs.SITE_ID=#{SITE_ID} AND
        </if><if test="SITE_TYPE_ID != null">
        	cs.SITE_TYPE_ID=#{SITE_TYPE_ID} AND
        </if><if test="TYPE_ID != null">
        	s.TYPE_ID=#{TYPE_ID} AND
        </if><![CDATA[
		PUBLISH_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND r.IS_VALID=1
    ]]></select>
    
    <delete id="deleteStat">
    	DELETE FROM T_POM_S_STAT_SITE
    </delete>
    <insert id="saveStat">
    	INSERT T_POM_S_STAT_SITE (SITE_ID,TYPE_ID,STAT_TIME,SIZE_ZM,SIZE_ZM_E,SIZE_FM,SIZE_FM_E,UPDATE_TIME) 
		SELECT SITE_ID,TYPE_ID,STAT_TIME,SUM(ZM) SIZE_ZM,SUM(ZM_E) SIZE_ZM_E,SUM(FM) SIZE_FM, SUM(FM_E) SIZE_FM_E,#{UPDATE_TIME} FROM (
		SELECT SITE_ID,TYPE_ID,CRAWL_TIME,PUBLISH_TIME,IN_TIME,DATE_FORMAT(PUBLISH_TIME,'%Y-%m-%d') STAT_TIME,
		CASE TEMPLATE_TYPE WHEN 'ZM' THEN 1 ELSE 0 END ZM,
		CASE TEMPLATE_TYPE WHEN 'ZM_E' THEN 1 ELSE 0 END ZM_E,
		CASE TEMPLATE_TYPE WHEN 'FM_E' THEN 1 ELSE 0 END FM_E,
		CASE TEMPLATE_TYPE WHEN 'FM' THEN 1 ELSE 0 END FM
		FROM T_POM_R_DETAIL ) a
		GROUP BY SITE_ID,TYPE_ID,STAT_TIME
    </insert>
    <insert id="saveStat_bak">
    	INSERT INTO T_POM_S_STAT_SITE (TYPE_ID,SIZE_ZM,SIZE_FM,SIZE_ZM_E,SIZE_FM_E,STAT_TIME,SITE_ID) VALUES (#{TYPE_ID},#{SIZE_ZM},#{SIZE_FM},#{SIZE_ZM_E},#{SIZE_FM_E},#{STAT_TIME},#{SITE_ID})
    </insert>
    
    <insert id="saveDetail">
    	INSERT INTO T_POM_R_DETAIL (TYPE_ID,TEMPLATE_TYPE,SITE_ID,TITLE,URL,CRAWL_TIME,IN_TIME,SOURCE,AUTHOR,EDITOR,PUBLISH_TIME,URL_ENCODE) VALUES (#{TYPE_ID},#{TEMPLATE_TYPE},#{SITE_ID},#{TITLE},#{URL},#{TSTAMP},now(),#{SOURCE},#{AUTHOR},#{EDITOR},#{PUBLISH_TIME},#{URL_ENCODE})
    </insert>
    
    <select id="selectDetail" resultType="map"><![CDATA[
    	SELECT s.DETAIL_SEQ,s.TEMPLATE_TYPE,s.TYPE_ID,r.TYPE_NAME,s.SITE_ID,cs.SITE_NAME,s.TITLE,s.URL,DATE_FORMAT(s.CRAWL_TIME,'%Y-%m-%d') CRAWL_TIME,DATE_FORMAT(s.PUBLISH_TIME,'%Y-%m-%d') PUBLISH_TIME,DATE_FORMAT(s.IN_TIME,'%Y-%m-%d') IN_TIME
		FROM T_POM_R_DETAIL s LEFT JOIN T_CRAWL_C_SITE cs ON (s.SITE_ID=cs.SITE_ID) 
		LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) WHERE
    	]]><if test="TYPE_ID != null"> s.TYPE_ID=#{TYPE_ID} AND </if> r.IS_VALID=1
    	<![CDATA[ORDER BY PUBLISH_TIME DESC LIMIT #{START},#{ROWS}
    ]]></select>
    <select id="checkUrl" resultType="string"><![CDATA[
    	SELECT 1 FROM T_POM_R_DETAIL WHERE URL_ENCODE=#{URL} LIMIT 1
    ]]></select>
    
    
    <select id="selectStats" resultType="map"><![CDATA[
        SELECT r.TYPE_ID,r.TYPE_NAME,sum(SIZE_ZM) SIZE_ZM,SUM(SIZE_FM) SIZE_FM,sum(SIZE_ZM_E) SIZE_ZM_E,SUM(SIZE_FM_E) SIZE_FM_E,DATE_FORMAT(STAT_TIME,'%Y-%m-%d') dt 
        FROM T_POM_S_STAT_SITE s LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) WHERE 
        ]]><if test="TYPE_ID != null">
        	s.TYPE_ID=#{TYPE_ID} AND
        </if><![CDATA[
		STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND r.IS_VALID=1
		GROUP BY r.TYPE_ID,r.TYPE_NAME,dt ORDER BY dt desc
    ]]></select>
    <select id="selectStatsCount" resultType="map"><![CDATA[
        SELECT r.TYPE_ID,r.TYPE_NAME,sum(SIZE_ZM) SIZE_ZM,SUM(SIZE_FM) SIZE_FM,sum(SIZE_ZM_E) SIZE_ZM_E,SUM(SIZE_FM_E) SIZE_FM_E,SUM(SIZE_ZM+SIZE_ZM_E+SIZE_FM+SIZE_FM_E) SIZE_TOTAL
        FROM T_POM_S_STAT_SITE s LEFT JOIN T_POM_C_RULE r ON (s.TYPE_ID=r.TYPE_ID) WHERE 
        ]]><if test="TYPE_ID != null">
        	s.TYPE_ID=#{TYPE_ID} AND
        </if><![CDATA[
		STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME} AND r.IS_VALID=1
		GROUP BY r.TYPE_ID,r.TYPE_NAME
		ORDER BY SIZE_TOTAL desc
    ]]></select>
    <select id="selectStatsCountAll" resultType="map"><![CDATA[
        SELECT sum(SIZE_ZM) + SUM(SIZE_ZM_E) SIZE_ZM,sum(SIZE_FM) +SUM(SIZE_FM_E) SIZE_FM FROM T_POM_S_STAT_SITE 
 		WHERE ]]><if test="TYPE_ID != null">
        	TYPE_ID=#{TYPE_ID} AND
        </if><![CDATA[STAT_TIME BETWEEN #{START_TIME} AND #{END_TIME}
    ]]></select>
    <select id="queryWords" resultType="map"><![CDATA[
        SELECT WORD,TENDENCY,LANG_ID FROM T_POM_C_WORD 
 		WHERE WORD LIKE #{WORD} AND IS_VALID=1 ORDER BY TENDENCY DESC,CHAR_LENGTH(WORD) limit 10
    ]]></select>
</mapper>