<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tomstools.web.persistence.UserMapper">
	<select id="selectUserList" resultType="map"><![CDATA[
        SELECT USER_ID,USER_NAME,NICK_NAME,EMAIL,PHONE_NUMBER FROM T_M_USERS WHERE IS_VALID='1'
    ]]></select>
    <select id="selectUser" resultType="user"><![CDATA[
        SELECT u.USER_ID userId,u.USER_NAME userName,u.NICK_NAME nickName,u.EMAIL,u.PHONE_NUMBER phoneNumber,u.CLIENT_IP clientIp,CASE WHEN k.`KEY` IS NULL THEN NULL WHEN now() < k.INVALID_TIME THEN k.`KEY` ELSE '' END `key` FROM T_M_USERS u LEFT JOIN T_U_KEY k ON u.USER_ID=k.USER_ID WHERE u.USER_NAME=#{userName} AND u.USER_PASSWD=#{userPassword} AND u.IS_VALID='1'
    ]]></select>
    <select id="selectUserByKey" resultType="user"><![CDATA[
        SELECT k.USER_ID userId,CASE WHEN now() < k.INVALID_TIME THEN k.`KEY` ELSE '' END `key`,u.USER_NAME userName,u.NICK_NAME nickName,u.CLIENT_IP clientIp FROM T_U_KEY k,T_M_USERS u where k.USER_ID=u.USER_ID AND u.IS_VALID='1' AND `KEY`= #{key}
    ]]></select>
	<select id="selectUserMenus" resultType="menu"><![CDATA[
        SELECT m.MENU_ID menuId,m.MENU_NAME menuName,m.PAGE_ID pageId,m.PARENT_ID parentId,m.IS_SHOW isShow,m.ORDER_NUM orderNum,m.ICON_CLASS iconClass
        FROM T_M_MENUS m ,T_PRI_ROLE_MENUS rm, T_REL_ROLE_USER ru
        WHERE m.MENU_ID=rm.MENU_ID AND rm.ROLE_ID=ru.ROLE_ID AND ru.USER_ID=#{userId} AND  m.IS_VALID='1'
    ]]></select>
    <select id="selectUserPages" resultType="page"><![CDATA[
        SELECT p.PAGE_ID pageId,p.PAGE_NAME pageName,-1 parentId,p.CONTENT_URL contentUrl,p.PARAMS,
        p.ICON_CLASS iconClass,p.AUTO_FRESH_TIME autoFreshTime,p.WIDTH,p.HEIGHT 
        FROM T_M_PAGES p,T_PRI_ROLE_PAGES rp,T_REL_ROLE_USER ru 
        WHERE p.PAGE_ID = rp.PAGE_ID AND rp.ROLE_ID=ru.ROLE_ID AND ru.USER_ID=#{userId}
    ]]></select>
	<select id="selectUserSubPages" resultType="page"><![CDATA[
        SELECT rp.PAGE_ID parentId,p.PAGE_ID pageId,p.PAGE_NAME pageName,p.CONTENT_URL contentUrl,p.PARAMS,p.ICON_CLASS iconClass,p.AUTO_FRESH_TIME autoFreshTime,rp.ORDER_NUM orderNum,rp.WIDTH,rp.HEIGHT FROM T_REL_PAGES rp LEFT JOIN T_M_PAGES p ON rp.SUB_PAGE_ID=p.PAGE_ID LEFT JOIN T_PRI_ROLE_PAGES prp ON p.PAGE_ID=prp.PAGE_ID LEFT JOIN T_REL_ROLE_USER ru ON prp.ROLE_ID=ru.ROLE_ID WHERE ru.USER_ID=#{userId} AND rp.IS_VALID=1 AND p.IS_VALID=1 
    ]]></select>
    
    <insert id="insertKey"><![CDATA[
        INSERT INTO T_U_KEY (USER_ID,`KEY`,UPDATE_TIME,INVALID_TIME) VALUES (#{userId},#{key},now(),DATE_ADD(NOW(),INTERVAL 30 MINUTE))
    ]]></insert>
    
    <update id="updateKey"><![CDATA[
        UPDATE T_U_KEY SET `KEY` = #{key},UPDATE_TIME=now(),INVALID_TIME = DATE_ADD(NOW(),INTERVAL 30 MINUTE) WHERE USER_ID=#{userId}
    ]]></update>
    
    <update id="deleteKey"><![CDATA[
        UPDATE T_U_KEY SET UPDATE_TIME=now(),INVALID_TIME = now() WHERE `KEY` = #{key}
    ]]></update>
    
    <select id="selectAllConfigs" resultType="config"><![CDATA[
        SELECT USER_ID userId,CONFIG_NAME name,CONFIG_VALUE value FROM T_U_CONFIG
    ]]></select>
</mapper>