<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tomstools.web.persistence.WebMetricMapper">
	<select id="selectWebMetric" resultType="webMetricInfo"><![CDATA[
        SELECT WEB_METRIC_ID id,WEB_METRIC_CODE name,WEB_METRIC_TITLE title FROM T_METRIC_WEB WHERE WEB_METRIC_CODE=#{metricName} AND IS_VALID='1'
    ]]></select>
    <select id="selectWebMetricSub" resultType="webMetricSubInfo"><![CDATA[
        SELECT s.SUB_WEB_METRIC_ID id,SUB_WEB_METRIC_CODE code, PAGE_ENCODING pageEncoding,url,URL_BAK urlBak,CONTENT_TYPE contentType,HEADERS headers
        FROM T_METRIC_WEB_SUB s LEFT JOIN T_REL_WEB_METRIC_SUB rs ON s.SUB_WEB_METRIC_ID=rs.SUB_WEB_METRIC_ID WHERE rs.WEB_METRIC_ID=#{metricId} AND IS_VALID='1'
    ]]></select>
    <select id="selectWebMetricSubDetail" resultType="webMetric"><![CDATA[
        SELECT METRIC_TITLE title,METRIC_SELECTOR selector,VALUE_TYPE value,ORDER_NUM orderNum FROM T_METRIC_WEB_SUB_DETAIL WHERE SUB_WEB_METRIC_ID=#{subMetricId} AND IS_VALID='1'
    ]]></select>
    <select id="selectWebMetricTemplate" resultType="webMetricInfo"><![CDATA[
        SELECT m.TEMPLATE_CONTENT templateContent,m.TEMPLATE_SCRIPT templateScript FROM T_REL_METRIC_TEMPLATE r  LEFT JOIN T_WEB_METRIC_TEMPLATE m ON (r.TEMPLATE_ID=m.TEMPLATE_ID) WHERE WEB_METRIC_ID=#{metricId} AND r.IS_VALID='1' AND m.IS_VALID='1' LIMIT 1
    ]]></select>
	
</mapper>