<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">         
      <objectContribution
            adaptable="true"
            nameFilter="*"
            id="tomstool.allfile.contribution"                        
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <menu
               label="%TomsTool"
               path="additions"
               id="tomstool.submenu">
            <separator
                  name="mypop">
            </separator>
         </menu>
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.ClassSearch"
               enablesFor="1"
               id="tomstools.classSearch"
               label="%ClassSearch"
               menubarPath="tomstool.submenu/mypop">
         </action>
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.CopyPath"
               enablesFor="*"
               id="tomstool.copyPath"
               label="%CopyPath"
               menubarPath="tomstool.submenu/mypop">
         </action>
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.CommandLine"
               enablesFor="1"
               id="tomstool.commandLine"
               label="%CommandLine"               
               menubarPath="tomstool.submenu/mypop">
         </action>
         <action
               label="%OpenInExplorer"
               class="org.lotomer.plugins.tomstools.popup.actions.OpenInExplorer"
               menubarPath="tomstool.submenu/mypop"
               enablesFor="1"
               id="tomstool.openInExplorer">
         </action>
         <action
               label="%ConvertFileCharset"
               class="org.lotomer.plugins.tomstools.popup.actions.ConvertFileCharset"
               menubarPath="tomstool.submenu/mypop"
               enablesFor="*"
               id="tomstool.convertFileCharset">
         </action>
      </objectContribution>
      <objectContribution
            id="tomstool.propertiesfile.contribution"
            nameFilter="*.properties"
            objectClass="org.eclipse.core.runtime.IAdaptable">         
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.Native2Ascii"
               enablesFor="1"
               id="tomstool.Native2Ascii"
               label="%Native2Ascii"
               menubarPath="tomstool.submenu/mypop">
         </action>
      </objectContribution>
      <!--
      <objectContribution
            id="tomstool.project.contribution"            
            objectClass="org.eclipse.jdt.core.IJavaProject">         
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.CheckClassReference"
               enablesFor="1"
               id="tomstool.ijavaproject.filecheck"
               label="%CheckClassReference"
               menubarPath="tomstool.submenu/mypop">
         </action>
      </objectContribution>
      <objectContribution
            id="tomstool.iproject.contribution"            
            objectClass="org.eclipse.core.resources.IProject">         
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.CheckClassReference"
               enablesFor="1"
               id="tomstool.iproject.filecheck"
               label="%CheckClassReference"
               menubarPath="tomstool.submenu/mypop">
         </action>
      </objectContribution>
      
      <objectContribution
            id="tomstool.getClassInfo.contribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.runtime.IAdaptable">         
         <action
               class="org.lotomer.plugins.tomstools.popup.actions.GetClassInfo"
               enablesFor="1"
               id="tomstool.getClassInfo"
               label="%getClassInfo"
               menubarPath="tomstool.submenu/mypop">
         </action>
      </objectContribution> -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.lotomer.plugins.tomstools.preferences.TomsToolPreferencePage"
            id="tomstool.preferences.TomsToolPreferencePage"
            name="%TomsTool">
      </page>
      <page
            class="org.lotomer.plugins.tomstools.preferences.NativePreferencePage"
            id="tomstool.preferences.NativePreferencePage"
            category="tomstool.preferences.TomsToolPreferencePage"
            name="%Native2Ascii">
      </page>
      <page
            class="org.lotomer.plugins.tomstools.preferences.CommandLinePreferencePage"
            id="tomstool.preferences.CommandLinePreferencePage"
            category="tomstool.preferences.TomsToolPreferencePage"
            name="%CommandLine">
      </page>
      <page
            class="org.lotomer.plugins.tomstools.preferences.CopyPathPreferencePage"
            id="tomstool.preferences.CopyPathPreferencePage"
            category="tomstool.preferences.TomsToolPreferencePage"
            name="%CopyPath">
      </page>
      <page
            class="org.lotomer.plugins.tomstools.preferences.OpenInExplorerPreferencePage"
            id="tomstool.preferences.OpenInExplorerPreferencePage"
            category="tomstool.preferences.TomsToolPreferencePage"
            name="%OpenInExplorer">
      </page>
      <page
            class="org.lotomer.plugins.tomstools.preferences.ConvertFileCharsetPreferencePage"
            id="tomstool.preferences.ConvertFileCharsetPreferencePage"
            category="tomstool.preferences.TomsToolPreferencePage"
            name="%ConvertFileCharset">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lotomer.plugins.tomstools.preferences.PreferenceInitializer">
      </initializer>      
   </extension>
</plugin>
